.container {
  width: 90%;
  min-height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
.blogWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  padding: 8px 0;
}
.blogText {
  padding-right: 20px;
}
.title {
  font-size: 36px;
  font-weight: 600;
  padding: 10px 0;
}
.description {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}
.date {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}
.blogImage {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  text-align: center;
}

.btnRead {
  padding: 8px 15px;
  background-color: cadetblue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btnRead:hover {
  cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 15px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
