.container {
  width: 90%;
  min-height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
.blogWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  padding: 8px 0;
}
.blogText {
  padding-e: 20px;
}
.title {
  font-size: 36px;
  font-weight: 600;
  padding: 10px 0;
}
.description {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70vw;
}
.date {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}
.blogImage {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  text-align: center;
}

.btnRead {
  padding: 8px 15px;
  background-color: cadetblue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btnRead:hover {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .blogWrapper {
    display: block;
  }
  .title {
    font-size: 24px;
  }
  .description {
    width: auto;
    font-size: 14px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .blogWrapper {
    display: block;
  }
  .title {
    font-size: 28px;
  }
  .description {
    width: auto;
    font-size: 18px;
  }
}
